<h1>Seja bem-vindo</h1>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
    <div class="count"><%= @user_statistics.total_questions %></div>
    <h3>New Sign ups</h3>
    <p>Lorem ipsum psdea itgum rixt.</p>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
    <div class="count"><%= @user_statistics.right_questions %></div>
    <h3>New Sign ups</h3>
    <p>Lorem ipsum psdea itgum rixt.</p>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
    <div class="count"><%= @user_statistics.wrong_questions %></div>
    <h3>New Sign ups</h3>
    <p>Lorem ipsum psdea itgum rixt.</p>
  </div>
</div>
